* {
  box-sizing: border-box;
}

body { 
  background: url("../images/background1.gif") no-repeat center center fixed; 
  -webkit-background-size: cover;
  background-size: cover;

}

/* title decoration */

#pony {

  font-family: 'Modak', cursive;
  color: pink;
  font-size: 90px;
  text-shadow: 4px 4px 4px rgb(223, 56, 173);

}

#vs {

  font-family: 'Libre Baskerville', serif;
  font-size: 80px;
  text-shadow: 4px 4px 4px rgb(110, 110, 110);

}

#marvel {

  font-family: 'Noto Sans KR', sans-serif;
  color: red;
  font-size: 80px;
  text-shadow: 4px 4px 4px rgb(109, 7, 7);

}
/* end title */

/* classes */
.char-banner-text {
  font-family: 'Libre Baskerville', serif;
  color: white;
  margin-top: 5%;
  margin-bottom: 5%;
}

.header-text {
  font-family: 'Gothic A1', sans-serif;
  color: white;
  font-size: 160%;
  font-weight: bold;
}

.status-text {
  font-family: 'Gothic A1', sans-serif;
  color: white;
  font-size: 110%;
  line-height: 80%;
}

.status-text span {
  font-size: 125%;
  font-weight: bold;
}

.logo {
  width: 16%;
  height: auto;
}

.btn-block {
  padding: 5%;
}

/*char banner and pseudo class */
.char-banner {
  border: 3px solid #ffffff;
  opacity:0.85;
}

.char-banner:hover {
  cursor: pointer; 
  border: 0.3vw solid #ffffff;
  opacity: 1;
}

/* player and enemy classes */

.char-banner-player {
  border: 0.3vw solid #28a745;
  opacity: 1;
}

.char-banner-enemy {
  border: 0.3vw solid #dc3545;
  opacity: 1;
}

/* defeated class and hover pseudo class */
.char-banner-defeated {
  border: 0.3vw solid #495057;
  opacity: 0.6;
}

.char-banner-defeated:hover {
  cursor: auto;
  opacity: 0.6;
}

.char-selected {
  width: 100%;
  height: auto;
  border-radius: 3%;
}

.char-selected-defeated {
  width: 100%;
  height: auto;
  border-radius: 3%;
  opacity: 0.6;
}