* {
  box-sizing: border-box;
}

body { 
  background: url("../images/background1.gif") no-repeat center center fixed; 
  -webkit-background-size: cover;
  background-size: cover;

}

/* title decoration */

#pony {

  font-family: 'Modak', cursive;
  color: pink;
  font-size: 90px;
  text-shadow: 4px 4px 4px rgb(223, 56, 173);

}

#vs {

  font-family: 'Libre Baskerville', serif;
  font-size: 80px;
  text-shadow: 4px 4px 4px rgb(110, 110, 110);

}

#marvel {

  font-family: 'Noto Sans KR', sans-serif;
  color: red;
  font-size: 80px;
  text-shadow: 4px 4px 4px rgb(109, 7, 7);

}
/* end title */

/* Hero Divs*/

.hero {

  border: 2px solid #28a745 !important;
  opacity: 1;
  color: white;
  height: 250px;
  width: 250px;
  text-align: center; 
  visibility: visible;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}

.enemy1 , .enemy2, .enemy3 {

  border: 2px solid #dc3545 !important;
  opacity: 1;
  color: white;
  cursor: pointer; 
  height: 250px;
  width: 250px;
  text-align: center; 
  visibility: visible;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  margin-right: 10px;
}

.enemy:hover {
  border: 5px solid #dc3545 !important;
}

.mar1:hover, .mar2:hover, .mar3:hover, .pon1:hover, .pon2:hover, .pon3:hover {
  border: 5px solid #45f50f;
}

.mar1 {
  border: 2px solid #fcfbfb;
  background: url("../images/jugger.gif");
  height: 250px;
  width: 250px;
  text-align: center; 
  visibility: visible;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  color:white;
  cursor: pointer; 
}

.mar2 {
  border: 2px solid #fcfbfb;
  background: url("../images/wolverine.gif");
  height: 250px;
  width: 250px;
  text-align: center; 
  visibility: visible;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  color:white;
  cursor: pointer; 
}

.mar3 {
  border: 2px solid #fcfbfb;
  background: url("../images/venom.gif");
  height: 250px;
  width: 250px;
  text-align: center; 
  visibility: visible;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  color:white;
  cursor: pointer; 
}

.pon1 {
  border: 2px solid #fcfbfb;
  background: url("../images/pony1.gif");
  height: 250px;
  width: 250px;
  text-align: center; 
  visibility: visible;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  color:white;
  cursor: pointer; 
}

.pon2 {
  border: 2px solid #fcfbfb;
  background: url("../images/pony2.gif");
  height: 250px;
  width: 250px;
  text-align: center; 
  visibility: visible;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  color:white;
  cursor: pointer; 
}

.pon3 {
  border: 2px solid #fcfbfb;
  background: url("../images/pony3.gif");
  height: 250px;
  width: 250px;
  text-align: center; 
  visibility: visible;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  color:white;
  cursor: pointer; 
}

/* BUTTON */

.btn1 {
  padding-top: 10px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.btn2 {
  padding-top: 10px;
  margin-top: 50px;
  margin-left: 60px;
  margin-right: 50px;
}

.progress {
  position:absolute;
  bottom:0px;
  width: 90%;
}
/* ROWS */

#enemySelectRow {
  margin-top: 100px;
}