body { 
  background: url("../images/background1.gif") no-repeat center center fixed; 
  -webkit-background-size: cover;
  background-size: cover;

}

/* title decoration */

#pony {

  font-family: 'Modak', cursive;
  color: pink;
  font-size: 90px;
  text-shadow: 4px 4px 4px rgb(223, 56, 173);

}

#vs {

  font-family: 'Libre Baskerville', serif;
  font-size: 80px;
  text-shadow: 4px 4px 4px rgb(110, 110, 110);

}

#marvel {

  font-family: 'Noto Sans KR', sans-serif;
  color: red;
  font-size: 80px;
  text-shadow: 4px 4px 4px rgb(109, 7, 7);

}
/* end title */

* {
  box-sizing: border-box;
}


html {
	min-height: 100%;
	position: relative;
}

h1 {
  font-size: 1.5em;
  margin-left: 70%;
}

h2 {
  margin: 0.3rem;
  font-size: 1.2em;
}

h3 {
  text-align: center;
  font-size: 0.9em;
}

.char-box {
  display: inline-block;
  padding: 1px;
  border: 2px solid #ebeef2;
  margin: 0.2%;
  padding: 0.2em 1em;
}

.char-img {
  width: 250px;
  height: 250px;
}

#you, #defender-section {
  height: 115px;
}

/*** The following classes are dynamically added ***/

/* Your Character */
.char-box-you {
  
  border: 3px solid rgb(42, 161, 240);
}

/* Enemies Available To Attack */
.char-box-enemy {
  background: red;
  color: black;
  border: "none";
}

/* Defender */
.char-box-defender {
  background: black;
  color: white;
  border: 3px solid green;
}